.nav-bar {
    display: inline-block;
    font-size: 2em;
    width: 100%;
    background-color: lightpink;
}
.nav-bar li{
    margin: 0;
    background: cornflowerblue;
    color: white;
    padding: 5px;
    transition: .4s;
    width: 125px;
    text-align: center;
}
.nav-bar li:hover {
    color: #E3E300;
    background-color: #ffaaff;
    cursor: pointer;
}
.nav-bar li:active {
    margin-right: 5px;
    margin-left: 5px;
}



/* Currently, the <li> items are block level elements. Add correct styles to remove the bullets and display them as inline elements.*/
li {
    list-style: none;
    display: inline-block;
}

/* The three <span> elements should be displayed as block elements with a 1 pixel border and 25 pixel margin on all sides. */
span {
    display: block;
    border: 1px solid red;
    margin: 25px;
}

/* In the article element with the class n-child, add a 1 pixel border around every even numbered section element. */
.n-child section:nth-of-type(even) {
    border: 1px solid blue;
}
/* Change the top ul content to be displayed inline, with a comma between the three numbers. */
.top {
    display: inline;
}

.top li::after {
    content: ",";
}

/* In the article element with the class n-type, make each odd section's font color blue. */
.n-type section:nth-of-type(odd){
    color: blue;
}

/* In the article element with the class first-of-type, make the first aside element's background color lime. */
.first-of-type aside:first-of-type {
    background-color: lime;
}
/* In the article element with the class first-of-type, make the first section element's background color purple. */
.first-of-type section:first-of-type {
    background-color: purple;
}

/* In the article element with the class three, give each section a background color of orange. */
.three section {
    background-color: orange;
}

/* In the article element with the class three, give the first child element, regardless of type, a background color of goldenrod. */
.three *:first-child {
    background-color: goldenrod;
}
/* In the article element with the class three, give the last child element, regardless of type, a background color of darkslategray. */
.three *:last-child {
    background-color: darkslategray;
}

/* Give each article element a title of "Article parent element", a dashed gray border, and a background color of royalblue. Also ensure that it spans the entire length of the document. */

article:before {
    content: "Article Parent Element";
}

article {
    border: 4px dashed grey;
    background-color: royalblue;
    width: 100%;
}

